<%- include('partials/header'); %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <img src="/image/BG.jpg" class="picture" alt="pic">
            </div>
            <div class="col-md-7 col-lg-7 wc">
                <p id="p1">KD</h1>
                <p id="p2"> welcome to </h3>
                <p id="p3"> <span id="resName">KinDaiJaiDuay</span> restaurant</h3>
                    <br>
                    <button type="button" class="button"><a href="SelectTable"> <span> Select Table</span> </a>

                    </button>
                <p id="p4">Not a customer?
                    <span>
                        <a href="login.html">
                            Login here
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>

<%- include('partials/footer'); %>